{% extends 'baseadmin.html.twig' %}
 {% block rigth_content %}

     <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
         <thead>
         <tr>
             <th scope="col" class="rounded">uai</th>
             <th scope="col" class="rounded">nom</th>
             <th scope="col" class="rounded">responsable</th>
             <th scope="col" class="rounded">Adresse</th>
             <th scope="col" class="rounded">Edit</th>
             <th scope="col" class="rounded-q4">Delete</th>
         </tr>
         </thead>
         <tfoot>
         <tr>
             <td colspan="6" class="rounded-foot-left"><em></em></td>

         </tr>
         </tfoot>
         <tbody>
         {% for etablissement in etablissements %}
             <tr>
                 <td>{{ etablissement.uai }}</td>
                 <td>{{ etablissement.nom }}</td>
                 <td>{{ etablissement.nomresponsable }}&nbsp;  {{ etablissement.prenomresponsable }}</td>
                 <td>{{ etablissement.adresse }}&nbsp; {{ etablissement.cp }}&nbsp; {{ etablissement.ville }}&nbsp; </td>

                 <td><a href="{{ path('commandephoto_etablissement_update', {'id': etablissement.id }) }}"><img src="{{ asset('bundles/admin/images/user_edit.png')}}" alt="" title="" border="0"></a></td>
                 <td><a href="{{ path('commandephoto_etablissement_delete', {'id': etablissement.id }) }}" class="ask"><img src="{{ asset('bundles/admin/images/trash.png')}}" alt="" title="" border="0"></a></td>
             </tr>
         {% endfor %}

        </tbody>
     </table>
     <a  href="{{ path('commandephoto_etablissement_add') }}"  class="bt_green"><span class="bt_green_lft"></span><strong>Ajouter un Article</strong><span class="bt_green_r"></span></a>

 {% endblock %}